/* *************************************  */
/* ? ************* general *************  */
/* *************************************  */

:root {
   /* (Full Slider Bar) */
   --Soft-Cyan: hsl(174, 77%, 80%);

   /* (Slider Backround) */
   --Strong-Cyan: hsl(174, 86%, 45%);

   /* (Discount Background) */
   --Light-Grayish-Red: hsl(14, 92%, 95%);

   /* (Discount Text) */
   --ight-Red: hsl(15, 100%, 70%);

   /* (CTA Text) */
   --Pale-Blue: hsl(226, 100%, 87%);

   /* ### Neutral */

   /* (Pricing Component Background) */
   --White: hsl(0, 0%, 100%);

   /* (Main Background) */
   --Very-Pale-Blue: hsl(230, 100%, 99%);

   /* (Empty Slider Bar) */
   --Light-Grayish-Blue: hsl(224, 65%, 95%);

   /* (Toggle Background) */
   --Light-Grayish-Blue-toogle: hsl(223, 50%, 87%);

   /* (Text) */
   --Grayish-Blue: hsl(225, 20%, 60%);

   /* (Text & CTA Background) */
   --Dark-Desaturated-Blue: hsl(227, 35%, 25%);

   font-size: 15px;
   font-family: "Manrope", sans-serif;
}

body {
   background-image: url("../images/pattern-circles.svg"),
      url("../images/bg-pattern.svg");
   background-color: var(--Very-Pale-Blue);

   background-position: center 4rem, left top;
   background-repeat: no-repeat;
   background-size: 50%, cover;
}

*,
*::after,
*::before {
   box-sizing: border-box;
}

.header,
.main {
   min-width: 375px;
   text-align: center;
}

/* *************************************  */
/* ? ************* header *************  */
/* *************************************  */

.header {
   margin-top: 4rem;
   margin-bottom: 4rem;
   padding: 1rem;
}

.header__title {
   font-size: 1.5rem;
   font-weight: 800;
}

.header__paragraph {
   width: 14rem;

   color: var(--Grayish-Blue);
   line-height: 170%;

   margin-left: auto;
   margin-right: auto;
}

/* *************************************  */
/* ? ************** main **************  */
/* *************************************  */

.main {
   margin-bottom: 4rem;
}
/* *************************************  */
/* ? ************** form **************  */

.form {
   width: 90%;
   margin-left: auto;
   margin-right: auto;

   border-radius: 0.5rem;
   box-shadow: 0 0 25px -5px hsla(226, 100%, 87%, 0.3);

   background-color: white;
}

.top,
.middle,
.footer {
   padding: 1rem;
}

/* ? ************** top **************  */

.top__pages {
   text-transform: uppercase;
   color: var(--Grayish-Blue);
   letter-spacing: 2px;
   font-weight: 800;
}

/* * input type range */
.slider__container {
   width: 100%;
   height: 0.5rem;

   margin-top: 3rem;
   margin-bottom: 3rem;

   background-color: var(--Light-Grayish-Blue);
   position: relative;
   border-radius: 1rem;
}

.slider_rail {
   height: 100%;
   width: 50%;

   border-radius: 1rem;

   background-color: var(--Soft-Cyan);

   transition: width 0.2s ease-in-out;
}
input[type="range"] {
   position: absolute;
   left: 0;
   top: -350%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   width: 100%;
   height: 0.8rem;
   margin: 1.6rem 0;
   background: transparent;

   border-radius: 5px;
   cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;

   background-color: var(--Strong-Cyan);
   background-image: url("../images/icon-slider.svg");
   background-position: 50%;
   background-repeat: no-repeat;

   box-shadow: 0 0.3rem 3rem rgba(0, 255, 231, 0.5);
   cursor: pointer;
   border: none;
   -webkit-transition: 0.2s;
   transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:focus,
input[type="range"]::-webkit-slider-thumb:hover {
   transform: translateY(-0.2rem);
   background-color: #7aeadf;
   box-shadow: 0 1.75rem 4rem rgba(0, 255, 231, 0.7);
}

input[type="range"]::-webkit-slider-thumb:active {
   background-color: var(--Strong-Cyan);
   transform: translateY(-0.1rem);
   cursor: -webkit-grabbing;
   cursor: grabbing;
}

input[type="range"]::-moz-range-thumb {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: var(--Strong-Cyan);
   background-image: url("../images/icon-slider.svg");
   background-position: 50%;
   background-repeat: no-repeat;
   box-shadow: 0 1.5rem 3rem rgba(0, 255, 231, 0.6);
   cursor: pointer;
   border: none;
   -moz-transition: 0.2s;
   transition: 0.2s;
}

input[type="range"]::-moz-range-thumb:focus,
input[type="range"]::-moz-range-thumb:hover {
   transform: translateY(-0.2rem);
   background-color: #7aeadf;
   box-shadow: 0 1.75rem 4rem rgba(0, 255, 231, 0.7);
}

input[type="range"]::-moz-range-thumb:active {
   background-color: var(--Strong-Cyan);
   transform: translateY(-0.1rem);
   cursor: grabbing;
}

input[type="range"]::-ms-thumb {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: var(--Strong-Cyan);
   background-image: url("../images/icon-slider.svg");
   background-position: 50%;
   background-repeat: no-repeat;
   box-shadow: 0 1.5rem 3rem rgba(0, 255, 231, 0.6);
   cursor: pointer;
   border: none;
   -ms-transition: 0.2s;
   transition: 0.2s;
}

input[type="range"]::-ms-thumb:focus,
input[type="range"]::-ms-thumb:hover {
   transform: translateY(-0.2rem);
   background-color: #7aeadf;
   box-shadow: 0 1.75rem 4rem rgba(0, 255, 231, 0.7);
}

input[type="range"]::-ms-thumb:active {
   background-color: var(--Strong-Cyan);
   transform: translateY(-0.1rem);
   cursor: grabbing;
}

.top__price {
   color: var(--Grayish-Blue);
}

.top__price-insert {
   color: black;
   font-size: 2rem;
   font-weight: 800;
}

/* ? ************** middle **************  */

.middle {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: var(--Grayish-Blue);
   font-weight: 600;
}

.billing {
   width: 50%;
}

.billing__paragraph {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   cursor: pointer;
}

.form_checkbox {
   visibility: hidden;
   width: 0;
   height: 0;
}
.form__checked {
   height: 1.3rem;
   border-radius: 2rem;
   width: 2.5rem;
   background-color: var(--Light-Grayish-Blue-toogle);
   margin-left: 0.2rem;
}

.form_checkbox:checked + .form__checked {
   background-color: var(--Strong-Cyan);
}

.billing__paragraph:hover > .form__checked {
   background-color: var(--Soft-Cyan);
}

.form__checked::before {
   content: "";
   display: block;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   margin-top: 0.15rem;
   margin-left: 0.15rem;

   background-color: white;

   transition: transform 0.2s ease-in-out;
}

.form_checkbox:checked + .form__checked::before {
   transform: translateX(1.25rem);
}

.discount {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45%;
}

.discount__paragraph-last {
   color: var(--ight-Red);
   background-color: hsla(15, 100%, 70%, 0.2);
   border-radius: 1rem;
   margin-left: 0.2rem;
   padding-left: 0.3rem;
   padding-right: 0.2rem;
}
.discount__paragraph-hidden {
   display: none;
}

/* ? ************** footer **************  */

.list {
   list-style-type: none;
   padding-left: 0;
   color: var(--Grayish-Blue);
}

.list__item {
   display: flex;
   justify-content: center;
   margin-top: 0.8rem;
   margin-bottom: 0.8rem;
   font-weight: 600;
   font-size: 0.9rem;
}

.list__icon {
   width: 12px;
   height: 12px;
   margin-right: 1rem;
   background-image: url("../images/icon-check.svg");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.footer__submit {
   cursor: pointer;
   color: var(--Grayish-Blue);
   font-weight: 800;
   background-color: var(--Dark-Desaturated-Blue);
   padding: 1rem 3rem;
   border-radius: 2rem;
   margin-top: 1.5rem;
   margin-bottom: 1rem;

   transition: color 0.15s ease-in-out;
}

.footer__submit:hover {
   color: white;
}

/* ! *********************************** */
/* ************************************* */
/* ? ************* general ************* */
/* ************************************* */

@media screen and (min-width: 767px) {
   body {
      background-size: 10rem, contain;
   }

   /* ************************************* */
   /* ? ************* header ************* */
   /* ************************************* */

   .header,
   .main {
      /* outline: 3px dotted black; */
      max-width: 35rem;

      margin-left: auto;
      margin-right: auto;
   }

   .header__paragraph {
      width: 30rem;
   }

   /* ************************************* */
   /* ? ************** form ************** */
   /* ************************************* */

   .form {
      width: 100%;
      padding: 2rem;
      padding-bottom: o;
   }

   .top {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-template-rows: 6fr 4fr;
      height: 7rem;
      margin-bottom: 3.5rem;
   }
   .top__pages {
      grid-column: 1/2;
      grid-row: 1/2;
      height: 1rem;
      line-height: 0;
   }

   .top__price {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 1rem;
      line-height: 0;
   }

   .slider__container {
      grid-row: 2/3;
      grid-column: 1/3;
   }

   .footer {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}
